@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
  overflow-x: hidden;
  @media screen and (max-width: 976px) {
    font-size: 70%;
  }
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
}
